
<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Rango</title>
        <link rel="shortcut icon" href="#" />

    </head>
    
    <body>
        <h1>Rango says...</h1>
        <div>
            Here is the About page!<br />
            This website is created by <strong>{{ your_name }}</strong>. <br />
        </div>
        <div>
            <a href="">Home Page</a><br />
        </div><br />

        <div>
            <span>
            <img src="{% static 'images/tesla.jpg' %}"
                 width="600" height="400"
                 alt="My Dream Car" />
            </span>
            <span>
            <img src="{{ MEDIA_URL }}tesla_1.jpg" 
                 width="600" height="400"
                 alt="My favorite car." />
            </span>
        </div>
    </body>
</html>